# Pinned django
# https://github.com/jpadilla/django-rest-framework-xml/issues/45
Django >= 2, <3

python-swiftclient
python-keystoneclient
xlrd

# Pinned DRF. drf_yasg is not compatible yet
# https://github.com/axnsan12/drf-yasg/issues/640
# https://github.com/axnsan12/drf-yasg/issues/641
# https://github.com/axnsan12/drf-yasg/issues/643
djangorestframework < 3.12

djangorestframework-gis
django-extensions
django-filter
django-rest-swagger
drf-amsterdam
drf_extensions
pyyaml>=4.2b1
psycopg2-binary
sentry-sdk
drf_yasg
django-choices
datapunt-objectstore
