Django
python-swiftclient
python-keystoneclient
git+https://github.com/Amsterdam/objectstore.git
xlrd
djangorestframework
django-filter
drf-amsterdam
pyyaml>=4.2b1
psycopg2-binary
sentry-sdk

# Test Libraries
flake8
tox
