Django
python-swiftclient
python-keystoneclient
git+https://github.com/Amsterdam/objectstore.git
xlrd
djangorestframework
djangorestframework-gis
django-extensions
django-filter
drf-amsterdam
drf_extensions
pyyaml>=4.2b1
psycopg2-binary
sentry-sdk
drf_yasg
django-choices
datapunt-objectstore

# Test Libraries
flake8
tox
model_mommy
isort
pytest
pytest-cov
pytest-django
coverage

# Development Libraries
django-cors-headers
django_debug_toolbar
